{% extends 'base.html.twig' %}

{% block title %}{{ 'Sign in'|trans }}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="mt-5 container-fluid text-center ">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="form-signin" method="post" action="{{ path('app_login') }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                {{ 'You are logged in as'|trans }} {{ app.user.firstname }} {{ app.user.lastname }}.<br> <a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                            </div>
                        {% endif %}

                        <div class="mb-4 d-flex justify-content-center">
                            <h1 class="logo"><i class="bi bi-quote"></i>Quote</h1>
                        </div>
                        <h3 class="mb-3">{{ 'Sign in'|trans }}</h3>
                        <label for="inputMail">{{ 'Email'|trans }}</label>
                        <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control mb-3" autocomplete="username" required autofocus>
                        <label for="inputPassword">{{ 'Password'|trans }}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> {{ 'Remember me'|trans }}
                            </label>
                        </div>

                        <button class="btn btn-lg btn-dark" type="submit">
                            {{ 'Sign in'|trans }}
                        </button>
                        <div class="mt-3">
                            <a href="{{ path('forgotten_password') }}">{{ 'Forgotten password'|trans }}</a>
                        </div>
                        <div class="mt-2">
                            <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
