<h1>{{ 'Reset your password'|trans }}</h1>

<p>
    {{ 'Click on the following link to reset your password :'|trans }} <br><br>
    <a href="{{ signedUrl }}">{{ 'Reset my password'|trans }}</a>.
    {{ 'This link will expire in'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Quote.
</p>
