{% extends 'base.html.twig' %}

{% block title %}{{ 'Reset password'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid text-center mt-5">
        <div class="mb-4 d-flex justify-content-center">
            <h1 class="logo"><i class="bi bi-quote"></i>Quote</h1>
        </div>
        <h3 class="mb-3">{{ 'Forgotten password'|trans }}</h3>
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}