<input type="hidden" id="booksCount" value="{{ books|length }}">
{% if books is empty %}
    <div class="container-fluid text-center mt-4 mb-4">{{ 'You have no book in your library yet... Use the search bar to add your first book !'|trans }}</div>
{% endif %}

{% for book in books %}
    <div
            {{ stimulus_controller('book', {
                url: path('view_book', { 'id': book.id })
            }) }}
            class="container-fluid card w-75 mt-3 mb-3"
            data-action="confirm-action:async:confirmed@window->reload-content#refreshContent"
    >
        <div class="card-body pe-0 pt-0"
             id="book-card"
             data-action="click->book#onBookClicked"
        >
            <div
                    class="row"
                    {{ stimulus_controller('confirm-action', {
                        'title': 'Delete this book ?'|trans,
                        'text': 'The book %title% will be deleted.'|trans({'%title%': book.title}),
                        'icon': 'warning',
                        'confirmButtonText': 'Delete'|trans,
                        'cancelButtonText': 'Cancel'|trans,
                        'method': 'DELETE',
                        'url': path('delete_book_user', { 'id': book.id })
                    }) }}
            >
                <div class="col col-lg-3 pt-5">
                    {% if book.cover is not null %}
                        <img src="{{ book.cover }}" class="book-img" />
                    {% else %}
                        <img src="{{ asset('build/images/noBook.jpeg') }}" class="book-img" />
                    {% endif %}
                </div>
                <div
                        class="col pt-5"
                        data-action="quote-actions:action->reload-content#refreshContent"
                >
                    <h5 class="card-title"
                        {{ stimulus_controller('quote-actions', {
                            url: path('add_to_current_readings', { 'id': book.id })
                        }) }}
                    >{{ book.title }} ({{ book.author }})
                        {% if book.quotes.count > 0 %}<span class="badge rounded-pill bg-dark">{{ book.quotes.count }} {{ 'citation'|trans({'%count%': book.quotes.count}) }}</span>{% endif %}

                        {% if book in app.user.currentReadings %}
                            <button
                                    type="button" class="btn btn-warning btn-sm" title="{{ 'Add to current readings'|trans }}"
                                    data-action="quote-actions#like"
                                    data-quote-actions-target="likeButton"
                            >
                                <i class="bi bi-star" data-quote-actions-target="likeHeartIcon"></i>
                            </button>
                        {% else %}
                            <button
                                    type="button" class="btn btn-outline-warning btn-sm" title="{{ 'Add to current readings'|trans }}"
                                    data-action="quote-actions#like"
                                    data-quote-actions-target="likeButton"
                            >
                                <i class="bi bi-star" data-quote-actions-target="likeHeartIcon"></i>
                            </button>
                        {% endif %}
                    </h5>
                    <p class="card-text">{% autoescape %}{{ book.resume|raw }}{% endautoescape %}</p>
                    <div class="mb-3">
                        <span class="fw-bold">{{ 'Publisher'|trans }} : </span>{{ book.publisher }} <br>
                        <span class="fw-bold">{{ 'Pages number'|trans }} : </span>{{ book.pageCount }}<br>
                    </div>
                </div>
                <div class="col-md-1 align-content-end text-end align-text-top">
                    <i
                            class="bi bi-x display-6 opacity-25 delete-quote-icon"
                            data-action="click->confirm-action#confirm"
                    ></i>
                </div>
            </div>
        </div>
    </div>
{% endfor %}