{% extends 'base.html.twig' %}

{% block body %}
    <div
        {{ stimulus_controller('reload-content', {
            url: path('home', {partial: 1}),
            paginate: true
        }) }}
        data-action="search-preview:success@window->reload-content#refreshContent"
        data-reload-content-target="content"
        class="container-fluid"
    >
        {{ include('home/_books_list.html.twig') }}
    </div>
{% endblock %}