<h1>{{ 'Please confirm your email'|trans }}</h1>

<p>
    {{ 'Please confirm your email address by clicking the following link'|trans }} :<br><br>
    <a href="{{ signedUrl }}">{{ 'Confirm my email'|trans }}</a>.
    {{ 'This link will expire in'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Quote.
</p>
