{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid text-center mt-5">
        <div class="mb-4 d-flex justify-content-center">
            <h1 class="logo"><i class="bi bi-quote"></i>Quote</h1>
        </div>
        <h3 class="mb-3">{{ 'Register'|trans }}</h3>
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.mail) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
                            {{ form_row(registrationForm.firstname) }}
                            {{ form_row(registrationForm.lastname) }}
                            <div class="text-lg-start d-flex justify-content-center">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>

                            <button type="submit" class="btn btn-dark">{{ 'Register'|trans }}</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
