{% set route_name = app.request.attributes.get('_route') %}

{% if app.user is not null %}
    <nav
            class="sidebar-container"
    >
        <div class="sidebar-logo mt-2 mb-3 display-1">
            <i class="bi bi-quote"></i>Quote
        </div>
        <ul class="sidebar-navigation">
            <li>
                <a href="{{ path('get_current_readings') }}" {% if route_name == 'get_current_readings' %} class="text-white" {% endif %}>
                    <i class="bi bi-star me-2"></i>{{ 'Current readings'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('home') }}"  {% if route_name == 'home' %} class="text-white" {% endif %}>
                    <i class="bi bi-book me-2"></i>{{ 'Library'|trans }}
                </a>
            </li>
            <li>
                <a href="#"  {% if route_name == '' %} class="text-white" {% endif %}>
                    <i class="bi bi-binoculars me-2"></i>{{ 'Discoveries'|trans }}
                </a>
            </li>

            {% if app.request.get('cached_favorite_books') is not empty %}
                <hr class="mt-2 mb-2">
            {% endif %}

            {% for book in app.request.get('cached_favorite_books') %}
                <li>
                    <a href="{{ path('view_book', {'id': book.id}) }}">
                        {{ book.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}

{% if app.user is not null %}
    {% set cache_suffix = app.user.username %}
{% else %}
    {% set cache_suffix = '' %}
{% endif %}

{% cache "cache_navigation_menu_" ~ cache_suffix %}
<div class="row top-nav content-container pt-2 pb-2">

    {% if app.user is not null %}
        <div
                {{ stimulus_controller('search-preview', {
                    url: path('book_resume'),
                    bookIsInLibraryUrl: path('book_get'),
                    saveBookUrl: path('save_book'),
                    defaultModalBody: 'Loading...'|trans,
                    alreadyInLibrary: 'Already in library'|trans,
                    notInLibrary: 'Add to my library'|trans,
                }) }}
                data-action="search-preview:openModal->search-preview#openModal"
                class="col-md-4"
        >
            {{ include('_modal.html.twig', {
                modalTitle: 'Add a book'
            }) }}
            <div
                    {{ stimulus_controller('autocomplete', {
                        url: path('search_book')
                    }) }}

                    data-action="loadend->search-preview#autocomplete"
                    class="input-group"
                    id="autocomplete"
            >
                <input
                        id="search"
                        name="q"
                        placeholder="{{ 'Search books...'|trans }}"
                        type="search"
                        class="form-control col-5"
                        data-autocomplete-target="input"
                >
                <input type="hidden" name="book_id" data-autocomplete-target="hidden"/>

                <div
                        class="search-preview"
                        data-autocomplete-target="results"
                >
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-4">
            <ul class="navbar-nav pull-right me-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle me-2"></i>{{ app.user.firstName }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ path('parameters') }}">{{ 'Settings'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="pull-right me-4">
                <a href="{{ path('app_login') }}"><button class="btn btn-light me-2">{{ 'Sign in'|trans }}</button></button>
                <a href="{{ path('app_register') }}"><button class="btn btn-outline-light">{{ 'Register'|trans }}</button></a>
            </div>
        </div>
    {% endif %}
</div>
{% endcache %}