{% extends 'base.html.twig' %}

{% block body %}

    <div
            class="container container-fluid"
            {{ stimulus_controller('settings', {
                'changeShareQuotesUrl': path('change_share_quotes'),
                'shareQuotesUrl': path('share_quotes')
            }) }}
    >
        <h1>{{ 'Settings'|trans }}</h1>
        <div class="container-fluid">
            <div class="form-control">
                <label>
                    {{ "Share my quotes and view reader's quotes"|trans }}
                    <input type="checkbox" class="form-check" id="share-quotes" data-settings-target="shareQuotesInput"/>
                </label>
            </div>
        </div>
    </div>

{% endblock %}