<div class="container-fluid">
    <input id="book-id" value="{{ book.apiItemId }}" type="hidden" />
    <div class="container-fluid row mt-4 mb-5">
        <div class="col-md-auto">
            {% if book.cover is not null %}
                <img class="book-img-resume" src="{{ book.cover }}" />
            {% else %}
                <img class="book-img-resume" src="{{ asset('build/images/noBook.jpeg') }}" />
            {% endif %}
        </div>
        <div class="col">
            <h3>{{ book.title }} - {{ book.author }}</h3>
            <p>{% autoescape %}{{ book.resume|raw }}{% endautoescape %}</p>
            <span class="fw-bold">{{ 'Publisher'|trans }} : </span>{{ book.publisher }} <br>
            <span class="fw-bold">{{ 'Pages number'|trans }} : </span>{{ book.pageCount }}
        </div>
    </div>
</div>