<div class="list-group">
    {% for book in books %}
        <a role="option" aria-disabled="true" data-autocomplete-value="1" class="list-group-item list-group-item-action" href="#">
            <div id="{{ book.apiItemId }}" class="book-search-item d-flex align-items-center justify-content-between">
                <div>
                    <img
                            {% if book.cover is not null %}
                                src="{{ book.cover }}"
                            {% else %}
                                src="{{ asset('build/images/noBook.jpeg') }}"
                            {% endif %}
                            class="rounded"
                    />
                    <span class="px-1">{{ book.title }} {% if book.author is not null %}- {{ book.author }}{% endif %}</span>
                </div>
            </div>
        </a>
    {% else %}
        <div class="list-group-item-action">
            {{ 'No result'|trans }} :(
        </div>
    {% endfor %}
</div>