{% extends 'base.html.twig' %}

{% block body %}
    <div
            class="container-fluid"
    >
        <div
                class="container-fluid mt-3 w-100"
        >
            {% include 'book/_resume.html.twig' with { 'book': book }  %}
        </div>
        <div class="container-fluid form-row mt-3 w-50">
            <h4>{{ 'Add citation'|trans }}</h4>
            {% include 'quote/create.html.twig' with { 'form': form }  %}
        </div>

        <div
            {{ stimulus_controller('reload-content', {
                url: path('list_quote', { 'id': book.id }),
                paginate: false
            }) }}
            class="container-fluid mt-3 w-50"
        >
            {% include 'quote/_list.html.twig' with { 'quotes': personnalQuotes } %}
            {% if otherQuotes is not empty %}
                <h3>{{ 'Other readers quotes'|trans }}</h3>
                {% include 'quote/_other_list.html.twig' with { 'quotes': otherQuotes } %}
            {% endif %}
        </div>
    </div>
{% endblock %}