@import "~bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';

.book-img {
    max-width: 10rem;
    height: auto;
}

.search-preview {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 44px;
}
.search-preview img {
    width: 50px;
}

#book-card:hover {
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #212020;
    color: #fff;
}

.sidebar-logo {
    padding: 10px 15px 6px 30px;
    font-size: 20px;
    background-color: #212020;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #212020;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.sidebar-navigation a {
    text-decoration: none;
}

.content-container {
    padding-left: 220px;
    margin-right: 0 !important;
}

.top-nav {
    background-color: #212020;
}

body {
    background-color: #fcfbfb;
}

#search {
    border-radius: 20px;
}

.sidebar-navigation li a {
    color: #b7b5b5;
    transition: 0.3s;
}

.sidebar-navigation li a:hover {
    color: white;
}

.delete-quote-icon:hover {
    cursor: pointer;
}

body {
    overscroll-behavior-y: none;
}

.logo {
    color: white;
    background-color: black;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 30px;
}