<ul
        class="list-group"
        {{ stimulus_controller('reload-content', {
            url: path('list_other_quote', { 'id': book.id }),
            paginate: false
        }) }}
        data-action="quote-actions:action->reload-content#refreshContent"
        data-action="confirm-action:async:confirmed@window->reload-content#refreshContent"
>
    {% for quote in quotes %}
        <li
                class="list-group-item d-flex justify-content-between align-items-center bg-light mb-4 p-0 pb-2 border-top"
                {{ stimulus_controller('quote-actions', {
                    url: path('like_quote', { 'id': quote.id })
                }) }}
        >
            <div
                    class="container"
                    {{ stimulus_controller('confirm-action', {
                        'title': 'Delete this quote ?'|trans,
                        'text': 'The quote will be deleted.'|trans,
                        'icon': 'warning',
                        'confirmButtonText': 'Delete'|trans,
                        'cancelButtonText': 'Cancel'|trans,
                        'method': 'DELETE',
                        'url': path('delete_quote', { 'id': quote.id })
                    }) }}
            >
                <div class="row">
                    <div class="container-fluid col-md-11 mb-3">
                        <div class="fw-bold mb-2">
                    <span class="m-1">
                        <i class="bi bi-quote display-6"></i>
                        {{ quote.content }}
                    </span>
                        </div>
                        <div>
                            {{ 'Book\'s page'|trans }} : {{ quote.page }}
                            {% if user in quote.usersWhoLiked %}
                                <span class="m-2">
                        <button
                                type="button" class="btn btn-danger btn-sm" title="{{ 'Remove from favorites'|trans }}"
                                data-action="quote-actions#like"
                                data-quote-actions-target="likeButton"
                        >
                            <i class="bi bi-heart-fill" data-quote-actions-target="likeHeartIcon"></i>
                        </button>
                    </span>
                            {% else %}
                                <span class="m-2 opacity-25">
                        <button
                                type="button" class="btn btn-outline-danger btn-sm" title="{{ 'Add to favorites'|trans }}"
                                data-action="quote-actions#like"
                                data-quote-actions-target="likeButton"
                        >
                            <i class="bi bi-heart" data-quote-actions-target="likeHeartIcon"></i>
                        </button>
                    </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>