{{ form_start(form) }}
<div class="row">
    <div class="col-md-9">
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(form.page) }}
        {{ form_errors(form.page) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.save) }}
    </div>
</div>
{{ form_end(form) }}