<div
        class="modal fade"
        tabindex="-1"
        aria-hidden="true"
        data-search-preview-target="modal"
        data-action="hidden.bs.modal->search-preview#emptyModalOnClose"
>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modalTitle|trans }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 data-search-preview-target="modalBody"
            >
                {% if content is not defined or content is null or content == ''%}
                    {{ 'Loading...'|trans }}
                {% else %}
                    {{ content }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">{{ 'Cancel'|trans }}
                </button>
                <button
                        type="button"
                        class="btn btn-dark"
                        data-action="search-preview#submitModal"
                        data-search-preview-target="addButton"
                >
                </button>
            </div>
        </div>
    </div>
</div>