{% extends 'base.html.twig' %}

{% block body %}

    <div
            {{ stimulus_controller('reload-content', {
                url: path('get_current_readings', {partial: 1}),
                paginate: true
            }) }}
            data-action="search-preview:success@window->reload-content#refreshContent"
            class="container-fluid"
    >
        {% include 'home/_books_list.html.twig' with { 'books': books } %}
    </div>

{% endblock %}